<h1>Heroe <small>Nombre del heroe</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" 
        routerLink="/heroes">
            
        <i class="fa fa-arrow-left"></i>
        Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm" >
            <div class="form-group">
                <label >Firebase ID</label>
                
                <input  type="text" 
                        class="form-control" 
                        disabled="disabled" 
                        placeholder="Firebase ID" 
                         [(ngModel)]="heroe.id"
                        name="id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>
            <div class="form-group">
                <label >Nombre</label>
                
                <input  type="text" 
                        class="form-control" 
                        [(ngModel)]="heroe.nombre"
                        name="nombre"
                        placeholder="Nombre del Heroe"
                        required>
                
            </div>
            <div class="form-group">
                <label >Poder</label>
                
                <input  type="text" 
                        class="form-control" 
                        [(ngModel)]="heroe.poder"
                        name="poder"
                        placeholder="Poder del Heroe"
                        required>
                
            </div>
            <div class="form-group">
                <label >Estado</label>
                <br>
                <button *ngIf="heroe.vivo"
                    (click)="heroe.vivo=false"
                type="button" class="btn btn-outline-success w-50">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.vivo"
                (click)="heroe.vivo=true"
                
                type="button" class="btn btn-outline-danger w-50">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>


            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar

                </button>
            </div>
        </form>
    </div>
</div>
